@import url("https://use.typekit.net/jmk3xov.css");

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}

main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 0 0 120px 0px;

  grid-template-columns: repeat(12, 1fr);
}

h1,
h2,
h3,
blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

header {
  grid-column: 2 / span 5;
  /* font-size: 2.5rem; */
  height: 100vh;
  display: flex;
  align-items: center;
}

header > * {
  background: var(--dark-bg);
  padding: 2rem;
  border-radius: 20px;
}
header h1 {
  margin-bottom: 1rem;
  font-weight: 700 !important;
}
section {
  grid-column: 2 / 8;
  padding: 1rem;
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;
}

section .about::first-letter {
  font-size: 4rem;
}

blockquote {
  margin: 0;
  padding: 0;
  grid-column: 2 / span 9;
  /* background: var(--dark-bg); */
}

blockquote p {
  /* color: black; */
  background-color: white;
  display: inline;
  line-height: 1.1;
  background: var(--dark-bg);
}

.left {
  grid-column: 6 / 12;
}

.light {
  grid-column: 2/12;
}
.project_cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.project_cards .box {
  flex-direction: column;
  border: 1px solid #eecfbf;
  height: 350px;
  margin: 9px 5px;
  display: flex;
  align-items: center;
  position: relative;
  padding: 13px;
  font-size: 1rem;
  /* opacity: 0; */
  /* transform: translateX(-100px); */
}
.box img {
  border-radius: 50%;
  margin-top: 15px;
  width: 80px;
  height: 80px;
  transition: all 0.2s ease-in-out;
  display: block;
}
.box img:hover {
  transform: scale(1.25);
  cursor: pointer;
}
.box button {
  font-size: 18px;
  padding: 9px;
  background: rgb(196, 191, 191);
  font-family: monospace;
  position: absolute;
  bottom: 5px;
  border: 2px solid purple;
}
.box button:hover {
  background: black;
  color: white;
  cursor: pointer;
}

.box h2 {
  display: inline;
  border-bottom: 2px solid purple;
}

.footer .imgs {
  margin: 10px 0;
}
.footer .imgs svg {
  margin: 0 10px;
}
.footer .img:hover {
  transform: scale(1.25);
  transition: all 0.2s ease-in;
}

blockquote:not(:last-child) {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

blockquote:last-child {
  margin-bottom: 10rem;
}

main > * {
  min-height: 100vh;
}

main :last-child {
  min-height: auto !important;
}

@media only screen and (max-width: 600px) {
  .project_cards {
    grid-template-columns: 1fr;
  }
  .footer .imgs img {
    height: 50px;
    width: 50px;
  }

  header div {
    background-color: transparent;
    text-align: center;
  }
}
